<!doctype html>
<html>
  <title>The Administrator's Registration Page</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
<body>
  <div class="headerBlue">
    <img class="hexLogo" src="/images/hexagonLogo.png">
     <div class="hexText">T<span class="hexTextSm">HE</span> H<span class="hexTextSm">EXAGON</span></div>
     <div class="hexSubText">Department of Defense</div>
     <div class="logoutText"><form method="POST" action="/logout"><input type="submit" value="Logout"></form></div>
  </div>
  <div class="headerRed"></div>

  <div class="pageDiv">
    <div class="bodyWrapper">
      <h2>BackUp Page</h2>  
      
      <form method="POST" action="/backup"> <input type="submit" value="Back Up"> </form>
      <h2>Files: </h2>
      {{ range .Files }}
        <a href="/download/{{.Name}}" >{{.Name}}</a><br>
      {{ end}}
      
      <a href="/">Back to personal details</a>
    </div>
  </div>
</body>
</html>