<!doctype html>
<html>
  <title>Edit Message Page</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
<body>
  <div class="headerBlue">
    <img class="hexLogo" src="/images/hexagonLogo.png">
     <div class="hexText">T<span class="hexTextSm">HE</span> H<span class="hexTextSm">EXAGON</span></div>
     <div class="hexSubText">Department of Defense</div>
     <div class="logoutText"><form method="POST" action="/logout"><input type="submit" value="Logout"></form></div>
  </div>
  <div class="headerRed"></div>

  <div class="pageDiv">
    <div class="bodyWrapper">
      <h2>Edit Message Page</h2>
      <form method="POST" action="/edit-message/{{.MessageID}}">
        <input type="text" name="message_id" value="{{.MessageID}}" hidden>
        <textarea name="message" style="display:block;width:400px;height:100px;" placeholder="Message here...">{{.Message}}</textarea>
        <input type="submit" value="Edit Message" class="loginBtn">
      </form>
      <br>
      <a href="/">Back to personal details</a>
    </div>
  </div>
</body>
</html>