<!doctype html>
<html>
  <title>Personal Details</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
<body>
  <div class="headerBlue">
    <img class="hexLogo" src="/images/hexagonLogo.png">
     <div class="hexText">T<span class="hexTextSm">HE</span> H<span class="hexTextSm">EXAGON</span></div>
     <div class="hexSubText">Department of Defense</div>
     <div class="logoutText"><form method="POST" action="/logout"><input type="submit" value="Logout"></form></div>
  </div>
  <div class="headerRed"></div>

  <div class="pageDiv">
    <div class="bodyWrapper">
      <h2>Personal Details</h2>
      <!-- TODO: remove <br>s, add username?, use a <table>? -->

      First name: {{.Profile.FirstName}}<br>
      Last name: {{.Profile.LastName}}<br>
      Gender: {{.Profile.Gender | showGender}}<br>
      Salutation: {{.Profile.Salutation}}<br>
      Birthday: {{.Profile.Birthday | showDate}}<br>
      About Me:
      <p>{{.Profile.About}}</p>
      <br>
      
      {{if not .Viewing}}
      <a href="/edit"> Edit Profile </a> <br>
      
      {{if .IsAdmin}}
      <a href="/admin">The Administrator's Registration Page</a>
      {{end}}
      
      <span class="highlightedText"><h5>//Confidential</h5></span>
      
      <form method="POST" action="/post">
        <textarea name="message" style="display:block;width:400px;height:100px;" placeholder="Message here..."></textarea>
        <input type="submit" value="Post Message" class="loginBtn">
      </form>
      
      <table border="1" style="width:1024px;">
      {{range .Messages}}
        <tr>
          <td>
          <a href="/view/{{.UserID}}">{{.FirstName}}</a><br>
          <a href="/view/{{.UserID}}">{{.Username}}</a><br>
          Date Joined: {{.DateJoined | showDateTime }}
          </td>
          <td>
          Date Created: {{.DateCreated | showDateTime}} {{if (or $.IsAdmin (eq .UserID $.CurrentUser))}}<a href="/edit-message/{{.MessageID}}">Edit</a> <a href="/delete/{{.MessageID}}">Delete</a>{{end}}<br>
          {{.Message | boldItalics}}<br>
          {{ if .Edited}}
          Date Edited: {{.DateEdited | showDateTime}}<br>
          {{ end }}
          </td>
        </tr>
      {{end}}
      </table>
      {{if not (eq .CurrentPage 1)}}<a href="/{{minus .CurrentPage 1}}">Previous</a> {{end}}
      <a href="/1">1</a>
      {{if not (eq .PageCount 1)}} <a href="/{{.PageCount}}">{{.PageCount}}</a>{{end}}
      {{if not (eq .CurrentPage .PageCount)}} <a href="/{{add .CurrentPage 1}}">Next</a>{{end}}
      {{end}}
    </div>
  </div>
</body>
</html>