<!doctype html>
<html>
  <title>Store Page</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
<body>
  <style>
    .image{
      max-height: 150px;
      max-width: 150px;
      display: block;
    }
  </style>
  <div class="headerBlue">
    <img class="hexLogo" src="/images/hexagonLogo.png">
     <div class="hexText">T<span class="hexTextSm">HE</span> H<span class="hexTextSm">EXAGON</span></div>
     <div class="hexSubText">Department of Defense</div>
     <div class="logoutText"><form method="POST" action="/logout"><input type="submit" value="Logout"></form></div>
  </div>
  <div class="headerRed"></div>

  <div class="pageDiv">
    <div class="bodyWrapper">
      <h2>Store Page</h2>
      {{if .IsAdmin}}
      <a href="/add-item">Add Item</a><br>
      <a href="/view-all-transactions">View All Transactions</a><br>
      {{end}}
      <a href="/view-cart">View Cart</a><br>
      <a href="/view-transactions">View Transactions</a><br>
      <a href="/">Back to personal details</a><br>
      <a href="/store">Back to Store</a><br>
      <h3>Donations</h3>
      <div style="display:inline-block;">
      $5
      <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="custom" value="donate,{{.UserID}}">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="CW3RBFQXUEPXL">
      <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
      </div>
      <div style="display:inline-block;">
      $10
      <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="custom" value="donate,{{.UserID}}">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="TGYBAZWTFCC8Q">
      <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
      </div>
      <div style="display:inline-block;">
      $20
      <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="custom" value="donate,{{.UserID}}">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="JXHN47EU3G7NG">
      <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
      </div>
      <div>
      <h3>Store Items</h3>
      {{range .Items}}
      <div style="display:inline-block;">
      <a href="/view-item/{{.ID}}"><b>{{.Name}}</b></a><br>
      <img src="{{.Image}}" class="image">
      ${{.Price}}<br>
      <form action="/add-cart" method="POST">
      <input type="hidden" name="item_id" value="{{.ID}}">
      <input type="submit" value="Add to Cart">
      </form>
      {{if and (gt .ID 3) $.IsAdmin }}
      <form action="/delete-item" method="POST">
      <input type="hidden" name="item_id" value="{{.ID}}">
      <input type="submit" value="Delete">
      </form>
      <a href="/edit-item/{{.ID}}">Edit Item</a>
      {{end}}
      </div>
      {{end}}
      </div>
    </div>
  </div>
</body>
</html>