<!doctype html>
<html>
  <title>View Cart Page</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
<body>
  <style>
  </style>
  <div class="headerBlue">
    <img class="hexLogo" src="/images/hexagonLogo.png">
     <div class="hexText">T<span class="hexTextSm">HE</span> H<span class="hexTextSm">EXAGON</span></div>
     <div class="hexSubText">Department of Defense</div>
     <div class="logoutText"><form method="POST" action="/logout"><input type="submit" value="Logout"></form></div>
  </div>
  <div class="headerRed"></div>

  <div class="pageDiv">
    <div class="bodyWrapper">
      <h2>View Cart Page</h2>
      <a href="/">Back to personal details</a><br>
      <a href="/store">Back to Store</a><br>
      
      {{if not .Pay}}
      Username: {{.Cart.Username}}<br>
      Name: {{.Cart.FirstName}} {{.Cart.LastName}}<br>
      Status: {{showStatus .Cart.Status}}
      {{end}}
      {{range .Items}}
      <form action="/update-cart" method="POST">
        <input type="hidden" name="cart_id" value="{{$.CartID}}">
        <input type="hidden" name="item_id" value="{{.ID}}">
        <a href="/view-item/{{.ID}}">{{.Name}}</a> - <img src="{{.Image}}" style="max-height:30px;max-width:30px;"> - ${{.Price}} - 
        <input type="text" name="count" value="{{.Count}}">
         - ${{.Total}}
        {{if $.Pay}}<input type="submit" value="Update">{{end}}
      </form>
      {{end}}
      Total: ${{.Total}}
      {{if and .Pay (eq .Status 1)}}
      <form name="_xclick" action="/pay-now" method="post">
      <input type="submit" src="http://www.paypal.com/en_GB/i/btn/x-click-but01.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
      </form>
      {{end}}
      {{if .Pay}}
      {{if and .Pay (eq .Status 2)}}
      <br><a href="/cancel?token={{.Token}}">Cancel</a>
      <br><a href="{{.URL}}">Pay Now</a>
      {{end}}
      {{end}}
    </div>
  </div>
</body>
</html>